.sidebar {
  min-width: 229px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.sidebar__username {
  margin: 15px 0 0;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
