.footer {
  display: flex;
  padding-bottom: 24px;
}

.footer__author {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__year {
  margin-left: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
